* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.speakers {
  display: none;
}

#home {
  width: 100%;
  height: 100vh;
  background-image: url("../assets/about-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.home-content {
  text-align: center;
}

.home-content h1 {
  text-align: justify;
  font-size: 30px;
}

.home-content div {
  background-color: #fff;
  border: 1px solid #d3d3d3;
  text-align: justify;
}

.home-comtact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 90%;
  padding: 5px;
}

.about .about-titles {
  text-align: center;
  color: #ec5242;
}

.about .about-titles h4 {
  font-weight: 400;
  line-height: 12px;
  margin-bottom: 20px;
}

.about .about-titles h1 {
  font-family: COCOGOOSE, sans-serif;
  font-weight: 900;
}

.about .about-desc {
  width: 90%;
  border: 2px solid #d3d3d3;
  padding: 15px;
  text-align: justify;
  background-color: #fff;
  line-height: 20px;
  letter-spacing: 1.2px;
}

.about .about-contact {
  text-align: center;
  line-height: 20px;
  letter-spacing: 1.2px;
}

@media screen and (min-width: 768px) {
  .about .about-desc {
    width: 50%;
  }
}

.about-logo {
  padding: 30px 15px;
  text-align: center;
}

.about-logo .title > span {
  color: #272a31;
  text-align: center;
}

.about-logo .title > span::after {
  top: 35px;
  left: 30%;
}

.about-logo .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid #d3d3d3;
  padding: 15px 0;
  width: 60%;
}

.about-logo .logo img {
  width: 20%;
  height: 20%;
  align-self: center;
  object-fit: contain;
}

.about-past {
  padding: 30px 15px;
  text-align: center;
}

.about-past p {
  width: 90%;
}

.about-past .title {
  color: #272a31;
}

.about-past .title > span::after {
  top: 35px;
  left: 43%;
}

.about-past .last-submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 90%;
  height: 250px;
  color: #fff;
  font-size: 20px;
  position: relative;
}

.about-past .last-submit img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-past .last-submit .depart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 0, 0, 0.4);
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  gap: 20px;
}

.about-past .last-submit .year {
  font-size: 32px;
  font-weight: 900;
}

@media screen and (min-width: 768px) {
  .about-past .last-submit {
    width: 45%;
  }
}

@media screen and (min-width: 768px) {
  .partners {
    display: none;
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #272a31;
}

@media screen and (min-width: 768px) {
  .footer {
    background-color: #272a31;
    color: #fff;
  }
}
