
.speakers {
  display: none;
}

.about,
.last-submit,
.depart,
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about {
  width: 100%;
  background-image: url(../assets/bg-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 5px;
}

.about-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.about-content h1 {
  width: 100%;
  font-weight: 900;
  font-size: 2.5rem;
  text-transform: uppercase;
  text-align: center;
}

.about-content .about-desc {
  font-size: 0.9rem;
  line-height: 1.6rem;
  border: 1px solid gray;
  width: 90%;
  padding: 20px;
  background-color: #f7f7f9;
  opacity: 0.9;
  text-align: justify;
}

.about-content .contact {
  text-align: center;
}

.about-content .contact p {
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.4rem;
}

.about-content .contact a {
  font-weight: 800;
  text-decoration: underline;
}

.about-logo {
  padding: 50px 15px;
  text-align: center;
}

.about-logo .title > span {
  color: var(--secondary);
  text-align: center;
}

.about-logo .title > span::after {
  top: 35px;
  left: 30%;
}

.about-logo .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
  padding: 15px 0;
  width: 70%;
  height: 70%;
}

.about-logo .logo img {
  width: 200px;
  height: 200px;
  align-self: center;
  object-fit: contain;
}

.about-past {
  padding: 50px 15px;
  text-align: center;
}

.about-past .title {
  color: var(--secondary);
}

.about-past .title > span::after {
  top: 35px;
  left: 43%;
}

.about-past .last-submit {
  flex-direction: column;
  gap: 30px;
  width: 100%;
  height: 300px;
  color: var(--color-white);
  font-size: 20px;
  position: relative;
}

.about-past .last-submit img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-past .last-submit .depart {
  flex-direction: column;
  background-color: rgba(255, 0, 0, 0.4);
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  gap: 20px;
}

.about-past .last-submit .year {
  font-size: 32px;
  font-weight: 900;
}

.footer {
  background-color: var(--bg-white);
  color: var(--secondary);
}

@media screen and (min-width: 768px) {
  .about-content h1 {
    width: 70%;
    font-weight: 900;
    font-size: 4.5rem;
    text-transform: uppercase;
    text-align: center;
  }

  .about-content .about-desc {
    width: 70%;
  }

  .about-past {
    margin-bottom: 50px;
  }

  .about-past .last-submit {
    width: 45%;
  }

  .partners {
    display: none;
  }

  .footer {
    background-color: var(--secondary);
    color: var(--color-white);
  }
}
