:root {
  --primary: #ec5242;
  --secondary: #272a31;
  --tertiary: #d3d3d3;
  --background: #f7f7f9;
  --dark-text: #515151;
  --bg-white: #fff;
  --color-white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.speakers {
  display: none;
}

.about,
.logo,
.last-submit,
.depart,
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about {
  flex-direction: column;
  width: 100%;
  height: 85vh;
  background-image: url("../assets/about-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  gap: 30px;
  padding: 5px;

  /* margin-top: 100px; */
}

.about .about-titles {
  text-align: center;
  color: var(--primary);
}

.about .about-titles h4 {
  font-weight: 400;
  line-height: 12px;
  margin-bottom: 20px;
  font-size: 22px;
}

.about .about-titles h1 {
  font-family: COCOGOOSE, sans-serif;
  margin-top: 1rem;
  font-size: 40px;
  font-weight: 800;
  line-height: 45px;
  color: var(--primary);
}

.about .about-desc {
  width: 90%;
  margin: 20px 10px;
  padding: 8px;
  border: 0.5px solid rgb(235, 225, 225);
  background-color: white;
  color: var(--dark-text);
  text-align: center;
  font-size: 0.8rem;
  line-height: 1.5;
}

.about .about-contact {
  text-align: center;
  line-height: 20px;
  letter-spacing: 1.2px;
}

@media screen and (min-width: 768px) {
  .about .about-desc {
    width: 50%;
    margin: 30px 10px;
    padding: 20px;
    font-size: 1rem;
    line-height: 1.5;
  }
}

.about-logo {
  padding: 50px 15px;
  text-align: center;
}

.about-logo .title > span {
  color: var(--secondary);
  text-align: center;
}

.about-logo .title > span::after {
  top: 35px;
  left: 30%;
}

.about-logo .logo {
  background-color: var(--color-white);
  border: 1px solid var(--tertiary);
  padding: 15px 0;
  width: 50%;
  height: 50%;
}

.about-logo .logo img {
  width: 200px;
  height: 200px;
  align-self: center;
  object-fit: contain;
}

.about-past {
  padding: 50px 15px;
  text-align: center;
}

.about-past p {
  width: 90%;
}

.about-past .title {
  color: var(--secondary);
}

.about-past .title > span::after {
  top: 35px;
  left: 43%;
}

.about-past .last-submit {
  flex-direction: column;
  gap: 30px;
  width: 90%;
  height: 250px;
  color: var(--color-white);
  font-size: 20px;
  position: relative;
}

.about-past .last-submit img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-past .last-submit .depart {
  flex-direction: column;
  background-color: rgba(255, 0, 0, 0.4);
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  gap: 20px;
}

.about-past .last-submit .year {
  font-size: 32px;
  font-weight: 900;
}

@media screen and (min-width: 768px) {
  .about-past .last-submit {
    width: 45%;
  }
}

@media screen and (min-width: 768px) {
  .partners {
    display: none;
  }
}

.footer {
  background-color: var(--bg-white);
  color: var(--secondary);
}

@media screen and (min-width: 768px) {
  .footer {
    background-color: var(--secondary);
    color: var(--color-white);
  }
}
