:root {
  --primary: #ec5242;
  --secondary: #272a31;
  --tertiary: #d3d3d3;
  --background: #f7f7f9;
  --dark-text: #515151;
  --bg-white: #fff;
  --color-white: #fff;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-style: normal;
  position: relative;
  background-color: #f7f7f9;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: normal;
}

@font-face {
  font-family: cocogoose;
  src: url(../fonts/Cocogoose.otf);
  font-weight: bold;
}

.ff-2 {
  font-family: "Cocogoose", sans-serif;
}

.bg {
  background-color: var(--background);
}

.color-tertiary {
  color: var(--tertiary);
}

.color-primary {
  color: var(--primary);
}

.color-secondry {
  color: var(--secondary);
}

.bg-primary {
  background-color: var(--primary);
}

.color-white-text {
  color: var(--color-white);
}

.bg-white {
  background-color: var(--color-white);
}

.color-dark-text {
  color: var(--dark-text);
}

.bg-dark {
  background-color: var(--secondary);
}


.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.section .title {
  color: #fff;
  position: relative;
  font-weight: 700;
}

.section .title > span::after {
  content: "";
  height: 2px;
  width: 40px;
  background-color: #ec5242;
  color: #fff;
  position: absolute;
  top: 40px;
  left: 10%;
}

.section .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 30px;
}

header {
  position: fixed;
  top: 0;
  align-items: center;
  width: 100%;
  z-index: 2;
}

.visited,
a:hover {
  color: var(--primary);
}


header .top-content {
  display: none;
}

header .toolBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 5px 0;
  background-color: #fff;
}

header .toolBar a {
  order: 2;
  flex: 1;
}

header .toolBar a .logo {
  width: 100px;
  height: 70px;
}

header .toolBar .toogle {
  flex: 1;
}

header .toolBar .mobile-menu {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

header .toolBar nav {
  display: none;
}

header .toolBar .compain-btn {
  display: none;
}

@media screen and (min-width: 768px) {
  header .top-content {
    display: flex;
    justify-content: end;
    width: 100%;
    padding: 5px 50px;
    font-size: 12px;
    gap: 20px;
    color: #fff;
    background-color: #272a31;
  }

  header .top-content > * {
    cursor: pointer;
  }

  header .toolBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 3rem;
    padding: 0 10%;
  }

  header .toolBar a {
    order: 0;
  }

  header .toolBar .mobile-menu {
    display: none;
  }

  header .toolBar nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header .toolBar nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    list-style-type: none;
    gap: 30px;
  }

  header .toolBar nav .nav-item a {
    cursor: pointer;
    text-decoration: none;
    color: #272a31;
    font-weight: 700;
  }

  header .toolBar nav .nav-item .about-link {
    color: #ec5242;
  }

  header .toolBar nav .nav-item a:hover,
  header .toolBar nav .nav-item a:active {
    color: #ec5242;
  }

  header .toolBar .compain-btn {
    display: block;
    border: 3px solid var(--primary);
    box-sizing: border-box;
    padding: 0.25rem 0.5rem;
    color: #f51d1d;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  header .toolBar {
    padding: 0;
  }

  header .toolBar .mobile-menu {
    margin: 15px;
  }

  header .toolBar nav {
    display: block;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9);
    transform: translateX(-100%);
    transition: 0.5s;
    z-index: 90999;
  }

  header .toolBar nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 15px;
    list-style-type: none;
  }

  header .toolBar nav .nav-item {
    width: 100%;
    padding: 15px 0;
    border-bottom: 1px solid #d3d3d3;
  }

  header .toolBar nav .nav-item a {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
  }

  header .toolBar nav .nav-item .about-link {
    color: #ec5242;
  }

  header .toolBar nav .close-menu {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 999;
  }

  header .toolBar .nav-show {
    transform: translateY(0);
  }
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
  background-image: url("../assets/bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 3%;
  gap: 50px;
}

.hero .main-header {
  padding-top: 3rem;
  text-align: start;
  width: 100%;
}

.hero span {
  font-weight: 400;
  font-size: 20px;
  color: #ec5242;
}

.hero h1 {
  font-family: COCOGOOSE, sans-serif;
    margin-top: 1rem;
    font-size: 35px;
    font-weight: 800;
    line-height: 45px;
    color: #ec5242;
    background-image: url("../assets/orange.jpeg");
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.hero .home-care-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  width: 100%;
  position: relative;
  gap: 50px;
  z-index: 0;
}

.hero .home-care-inner .home-care-top {
  position: relative;
  padding: 10px;
  width: 100%;
}

.hero .home-care-inner .quote1 {
  position: absolute;
  left: 0;
  color: green;
  font-size: 30px;
  font-weight: 900;
}

.hero .home-care-inner .we-care {
  padding: 20px;
  text-align: center;
}

.hero .home-care-inner .we-care h2 {
  line-height: 30px;
  letter-spacing: 10px;
}

.hero .home-care-inner .we-care h4 {
  line-height: 30px;
  letter-spacing: 10px;
}

.hero .home-care-inner .we-care h6 {
  line-height: 30px;
  letter-spacing: 10px;
}

.hero .home-care-inner .quote2 {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #070f82;
  font-size: 30px;
  font-weight: 900;
}

.hero .home-care-bottom {
  border: 5px solid #fff;
  background-color: #d3d3d3;
  color: #272a31;
  font-weight: 500;
  padding: 20px 30px;
  position: relative;
}

.hero .home-care-bottom p {
  padding: 10px 20px;
  background-color: green;
  color: #fff;
  border-radius: 30px;
  text-align: center;
  position: absolute;
  top: -20px;
}

@media screen and (min-width: 768px) {
  .hero {
    padding: 0 10%;
    align-items: flex-start;
  }

  .hero h1 {
    font-size: 40px;
  }

  .hero .home-care-inner .home-care-top {
    width: 50%;
  }
}

.program {
  background-image: url("../assets/pattern_bg.png");
  background-repeat: repeat;
  background-color: #272a31;
  padding: 40px 15px;
}

.program .program-title > span::after {
  top: 30px;
  left: 36%;
}

.program .program-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  padding: 10px;
  gap: 30px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: 0.5s;
}

.program .program-item .program-item-img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  flex: 1;
  text-align: center;
}

.program .program-item .program-item-img img {
  object-fit: cover;
  width: 50px;
  height: 50px;
}

.program .program-item .program-item-img .program-item-speciality {
  color: #ec5242;
}

.program .program-item .program-item-text {
  flex: 2;
  color: #fff;
  text-align: justify;
}

.program .program-item:hover {
  border: 2px solid #fff;
}

.program .program-join {
  display: block;
  width: fit-content;
  font-weight: 400;
  background-color: #ec5242;
  margin-bottom: 2px;
  padding: 15px 20px;
  color: #fff;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .program .program-item {
    flex-direction: column;
    gap: 10px;
    width: 20%;
  }

  .program .program-item .program-item-img {
    flex-direction: column;
  }
}

.doctors {
  padding: 30px 15px;
}

.doctors .doctors-title {
  color: rgb(36, 35, 35);
}

.doctors .doctors-title > span::after {
  top: 30px;
  left: 30%;
}

.doctors .doctors-content {
  gap: 40px;
  overflow: hidden;
  max-height: 350px;
  
}

.doctors .doctor-item {
  display: flex;
  justify-content: center;
  width: 100%;
  font-weight: 300;
  max-height: 200px;
}

.doctors .doctor-item .doctor-item-img {
  width: 120px;
  height: 6.25rem;
  object-fit: cover;
  margin-right: 10px;
}

.doctors .doctor-organize {
  color: #ec5242;
  margin-top: 10px;
}

.doctors hr {
  width: 30px;
  margin: 10px 0;
}

.doctors .more-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 15px 0;
  border: 1px solid #d3d3d3;
  margin-top: 30px;
  cursor: pointer;
}

.doctors .more-btn-none {
  display: none;
}

@media screen and (min-width: 768px) {
  .doctors .doctors-content {
    max-height: 700px;
    line-height: 1.125rem;
  font-size: 0.875rem;
  }

  .doctors .doctor-item {
    width: 40%;
  }

  .doctors .more-btn {
    display: none;
  }
}

.partners {
  padding: 40px 15px;
  background-color: #272a31;
  gap: 10px;
}

.partners .partner-title {
  color: #fff;
}

.partners .partner-title > span::after {
  top: 25px;
}

.partners .partner-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.partners .partner-content .partner-img {
  width: 100px;
  height: 50px;
  filter: grayscale(100%);
}

.footer {
  display: none;
  width: 100%;
  padding: 30px 0;
}

.footer .footer-img {
  flex: 1;
  padding-left: 5%;
}

.footer .footer-img .foot-img {
  height: 80px;
  width: 100px;
}

.footer .footer-text {
  flex: 1;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
