::-webkit-scrollbar {
  width: 6.5px;
  height: 6.5px;
}

::-webkit-scrollbar-track {
  background-color: #e8dfec;
}

::-webkit-scrollbar-thumb {
  height: 51.2413%;
  background-color: hsl(242 88% 56% / 0.8);
  border-radius: 0 0 10px 10px;
}

:root {
  --primary: #ec5242;
  --secondary: #272a31;
  --tertiary: #d3d3d3;
  --background: #f7f7f9;
  --dark-text: #515151;
  --bg-white: #fff;
  --color-white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.428;
  background-color: #f4f3f3;
  position: relative;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

@font-face {
  font-family: cocogoose;
  src: url(../fonts/Cocogoose.otf);
  font-weight: bold;
}

.section,
.content,
.nav-bar,
.navigation,
.hero,
.home-care-inner,
.program-item,
.program-item-img,
.more-btn,
.partner-content,
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-text-color {
  color: var(--primary);
}

.section {
  flex-direction: column;
}

.title {
  font-family: COCOGOOSE, sans-serif;
  font-size: 1.5rem;
  background-image: url("../assets/orange.jpeg");
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.section .title {
  color: var(--color-white);
  position: relative;
  font-weight: 700;
}

.section .title > span::after {
  content: "";
  height: 2px;
  width: 40px;
  background-color: var(--primary);
  color: var(--color-white);
  position: absolute;
  top: 40px;
  left: 10%;
}

.section .content {
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 30px;
}

.section-title {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
}

header {
  position: sticky;
  top: 0;
  align-items: center;
  width: 100%;
  z-index: 2;
}

.logo {
  display: none;
  width: 40px;
  height: 40px;
}

.nav-item {
  margin: 0;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  text-align: center;
  background-color: #959191;
  width: 100%;
}

.nav-item a,
span {
  color: #999;
}

@media (max-width: 767px) {
  .top-nav {
    display: none;
  }

  .toolbar {
    padding: 15px 20px;
    background-color: #fff;
  }

  .nav-bar {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateY(-100%);
  }

  .nav-bar.active {
    background-color: #959191;
    transform: translateY(0);
    transition: 1s ease;
  }

  .navigation {
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 auto;
  }

  .nav-item:hover,
  .nav-item.active {
    background-color: #ec5242;
    transition: color 0.3s ease;
  }

  .nav-item a,
  span {
    color: #fff;
  }

  .mobile-menu-toggle {
    border: none;
    width: 40px;
    height: 30px;
  }

  .toogle {
    width: 100%;
    height: 100%;
  }

  .mobile-menu-close {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: none;
  }

  .campaign-btn {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .section-title {
    font-size: 36px;
  }

  header {
    height: 125px;
  }

  .logo {
    display: flex;
    width: 100px;
    height: 70px;
  }

  .top-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: var(--color-white);
    background-color: var(--secondary);
  }

  .navigation-links {
    display: flex;
  }

  .navigation-links > li {
    padding: 6px;
    display: inline-block;
    color: #f4f3f3;
  }

  .navigation-links > li > img {
    margin-top: 5px;
  }

  .navigation-links > li > a {
    color: #f4f3f3;
  }

  .toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 100px;
    background-color: #fff;
  }

  .navigation {
    gap: 40px;
  }

  .home_link {
    display: none;
  }

  .nav-item {
    background-color: #fff;
    border-bottom: none;
  }

  .nav-item:hover {
    border-bottom: 2px solid #ec5242;
  }

  .nav-item.active {
    border-bottom: 2px solid #ec5242;
    transition: color 0.3s ease;
  }

  .nav-item:hover a,
  .nav-item:hover span,
  .nav-item.active a {
    color: #ec5242;
    transition: color 0.3s ease;
  }

  .mobile-menu-toggle,
  .mobile-menu-close {
    display: none;
  }

  .campaign-btn {
    display: flex;
    margin-left: 50px;
    border-radius: 2px;
    text-align: center;
    text-decoration: none;
    border: 3px solid var(--primary);
    box-sizing: border-box;
    padding: 0.25rem 0.5rem;
    color: var(--primary);
    font-size: 1rem;
    cursor: pointer;
  }
}

/* Home section  */

.home {
  width: 100%;
  background-image: url(../assets/bg-01.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home-section {
  width: 100%;
}

.home-content {
  padding: 20px 20px 80px 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.home-content p {
  font-weight: 500;
  font-size: 1rem;
}

.home-content h1 {
  font-weight: 900;
  font-size: 2rem;
  text-transform: uppercase;
}

.main-header {
  margin-bottom: 1.5rem;
}

.subtitle {
  font-size: 1rem;
  color: #999;
  margin-bottom: 1rem;
}

.home-care {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.home-care-top {
  margin-bottom: 1.5rem;
  border: 5px solid var(--color-white);
  background-color: #d3d3d3;
  color: var(--secondary);
  font-weight: 500;
  padding: 25px 10px;
  position: relative;
}

p.date {
  font-weight: 900;
  font-size: 1.5rem;
}

p.venu {
  font-size: 1.2rem;
}

.home-care-time {
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 20px;
  background-color: green;
  color: var(--color-white);
  border-radius: 30px;
  text-align: center;
  position: absolute;
  top: -20px;
}

.home-care-text {
  font-size: 1rem;
  color: #666;
  line-height: 1.5;
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}

.home-care-bottom {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .home {
    height: calc(100vh - 125px);
    background-image: url(../assets/bg-desktop.png);
  }

  .home-content {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    padding-left: 6rem;
    gap: 15px;
  }

  .home-content p {
    font-size: 2.4rem;
  }

  .home-content h1 {
    font-weight: 900;
    font-size: 4.5rem;
    line-height: 5rem;
    text-transform: uppercase;
    width: 100%;
  }

  .home-description {
    border: 4px solid var(--primary-white);
    background-color: rgba(247, 247, 248, 0.9);
    width: 60%;
  }

  .home-description p {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    opacity: 0.9;
  }

  p.date {
    font-weight: 900;
    font-size: 2.8rem;
    opacity: 0.8;
    margin-top: 20px;
  }

  p.venu {
    font-size: 1.6rem;
    font-weight: 400;
    opacity: 0.5;
  }
}

.line {
  display: block;
  margin: auto;
  width: 57px;
  height: 3.2px;
  background-color: #ec5242;
  border-radius: 5px;
  margin-bottom: 30px;
}

/* Program section */

.program {
  background-image: url("../assets/pattern_bg.png");
  background-repeat: repeat;
  padding: 50px 0;
  background-color: #272a31;
  color: #fff;
}

.program-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

.program-heading,
.program-cta {
  text-align: center;
}

.program-title {
  font-size: 1rem;
  margin: 0;
  font-weight: bold;
}

.program-grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  gap: 10px;
}

.program-item {
  width: 100%;
  display: grid;
  grid-template-columns: 24% 32% 44%;
  padding: 10px;
  align-items: center;
  background-color: #41444b87;
  background-color: rgba(211, 211, 211, 0.1);
}

.program-item:hover {
  border: 2px solid white;
}

.program-item > h4 {
  color: #ec5242;
}

.program-item img {
  object-fit: cover;
  width: 50px;
  height: 50px;
  max-width: 100%;
}

.program-join {
  background-color: #ec5242;
  color: #d3d3d3;
  display: block;
  width: 75%;
  padding: 20px 20px;
  text-align: center;
  margin: auto;
  margin-top: 40px;
}

.whole-program {
  display: none;
}

@media screen and (min-width: 768px) {
  .program-title {
    font-size: 36px;
    margin: 0;
    font-weight: bold;
  }

  .program-grid {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    gap: 10px;
  }

  .program-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    text-align: center;
    min-height: 250px;
  }

  .program-item img {
    width: 35%;
    height: 33%;
    flex: 0;
  }

  .program-join {
    display: none;
  }

  .whole-program {
    margin-top: 30px;
    display: block;
    color: #a29b9b;
    text-align: center;
    text-decoration: underline;
    background-color: transparent;
  }
}

/* Partners section  */

.partners {
  padding: 80px 0;
  background-color: var(--secondary);
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

.partners-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.partner-item {
  flex-basis: calc(30% - 20px);
}

.partner-logo {
  max-width: 100%;
  height: auto;
  filter: grayscale(100%);
}

@media screen and (min-width: 768px) {
  .partner-item {
    flex-basis: calc(18% - 20px);
    margin-bottom: 30px;
    text-align: center;
  }
}

/* Doctors section */

.doctors {
  padding: 50px 20px;
}

.doctors .doctors-title span {
  color: rgb(36, 35, 35);
}

.doctors .doctors-title > span::after {
  top: 30px;
  left: 30%;
}

.doctors .doctors-content {
  gap: 50px;
  overflow: hidden;
  padding: 10px;
  line-height: 1.125rem;
  font-size: 0.875rem;
  font-weight: 300;
}

.doctors .doctor-item {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
}

.doctors .doctor-item .doctor-item-img {
  width: 120px;
  height: 6.25rem;
  object-fit: cover;
  margin-right: 10px;
}

.doctors .doctor-item::before {
  content: "";
  position: absolute;
  background-image: url(../assets/Chess_Board.svg);
  width: 76px;
  height: 76px;
  z-index: -2;
  top: -10px;
  left: -10px;
  background-position: center;
  background-size: cover;
}

.doctors .doctor-organize {
  color: var(--primary);
  margin-top: 10px;
}

.doctors hr {
  width: 30px;
  margin: 10px 0;
}

.doctors .more-btn {
  width: 100%;
  padding: 15px 0;
  border: 1px solid var(--tertiary);
  margin-top: 30px;
  cursor: pointer;
}

.doctors .more-btn-none {
  display: none;
}

@media screen and (min-width: 768px) {
  .doctors {
    padding: 50px 80px;
  }

  .doctors .doctor-item {
    width: 45%;
  }

  .doctors .more-btn {
    display: none;
  }
}

/* Footer */

.footer {
  display: none;
  width: 100%;
  padding: 30px 10px;
}

.footer .footer-img {
  flex: 1;
}

.footer .footer-img .foot-img {
  height: 80px;
  width: 100px;
}

.footer .footer-text {
  font-weight: 200;
}

@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    padding: 30px 100px;
  }

  .footer .footer-text {
    flex: 1;
    font-weight: 400;
  }
}
