$black-color: #272a31;
$orange-color: #ec5242;
$grey-color: #d3d3d3;
$blue-color: #070f82;

$lato: lato, sans-serif;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.speakers {
  display: none;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

#home {
  width: 100%;
  height: 100vh;
  background-image: url("../assets/about-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.home-content {
  text-align: center;

  h1 {
    text-align: justify;
    font-size: 30px;
  }

  div {
    background-color: #fff;
    border: 1px solid $grey-color;
    text-align: justify;
  }
}

.home-comtact {
  @include flex-column;
  gap: 5px;
}

.about {
  @include flex-column;
  gap: 50px;
  height: 80%;
  padding: 5px;

  h1 {
    text-align: center;
    color: $blue-color;
  }

  .about-desc {
    width: 90%;
    border: 2px solid $grey-color;
    padding: 15px;
    text-align: justify;
    background-color: #fff;
    line-height: 20px;
    letter-spacing: 1.2px;
  }

  .about-contact {
    text-align: center;
    line-height: 20px;
    letter-spacing: 1.2px;
  }

  @media screen and (min-width: 768px) {
    .about-desc {
      width: 50%;
    }
  }
}

.about-logo {
  padding: 30px 15px;
  text-align: center;

  .title > span {
    color: #272a31;
    text-align: center;
  }

  .title > span::after {
    top: 35px;
    left: 30%;
  }

  .logo {
    @include flex-row;

    background-color: #fff;
    border: 1px solid $grey-color;
    padding: 15px 0;
    width: 60%;

    img {
      width: 20%;
      height: 20%;
      align-self: center;
      object-fit: contain;
    }
  }
}

.about-past {
  padding: 30px 15px;
  text-align: center;

  p {
    width: 80%;
  }

  .title {
    color: #272a31;
  }

  .title > span::after {
    top: 35px;
    left: 43%;
  }

  .last-submit {
    @include flex-column;
    gap: 30px;
    width: 80%;
    height: 250px;
    color: #fff;
    font-size: 24px;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .depart {
      @include flex-column;
      background-color: rgba(255, 0, 0, 0.4);
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      gap: 20px;
    }

    .year {
      font-size: 32px;
      font-weight: 900;
    }
  }

  @media screen and (min-width: 768px) {
    .last-submit {
      width: 45%;
    }
  }
}

.footer {
  background-color: #272a31;
  color: #fff;
}
